* {
    box-sizing: border-box;
    margin: 0px;
    max-width: 100%;
    height: 100%;
    background-color: #f1f1f3;
    color: #000;
}

h1, h3, p {
    display: flex;
    height: 50%;
    align-items: center;
    
}


.container {

    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    margin: 50px 50px;
    height: 850px;
    grid-gap: 40px;
    border: 1px solid #f8f8f9;
    background-color: #FFFF;
    border-radius: 20px;
    padding: 20px;

}

.container_center, .container_right  {
    
    border-radius: 20px;
}

.container_left {
    height: 100%;
    background-color: #000;
    border-radius: 20px;
    
}

.container_center, .container_right {
    
    height: 100%;
    width: 100%;
    background-color: #ffff;
    
}

.container_center-title {
    display: flex;
    width: 100%;
    height: 175px;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-around;
}

.container_center-description {
    height: 150px;
    
}

.container_center-img img {
    object-fit: cover;
    height: 150px;
    
}


.container_center-personalData {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    height: 112px;
    width: 100%;
    padding: 5px;
}

.container_center-personalData--left {
    display: flex;
    align-items: center;
    height: 100px;
    width: 80%;

}

.container_center-personalData--right {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 20%;
    
}


.container_center-personalData--imageProfile {
    height: 50px;
    width: 50px;
    background-color: #FFFF;
    padding: 8px;
    margin: 5px;
}

.container_center-personalData--name {

    height: 50px;
    width: 120px;
    margin: 5px;
}

.container_center-personalData--progressBar {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 8px;
    margin: 10px;
}

.container_center-personalData--progressBar img {
    margin-right: 5px;
}
.container_center-personalData--button {
    display: flex;
    align-items: center;
}
.container_center-personalData--button button {
    height: 35px;
    width: 100px;
    background-color: #000;
    color: #ffff;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
}

.container_center-courses {
    height: 50px;
    
}

.container_center-courses h2 {
    background-color: #FFFF;
    margin-top: 10px;
}

.container_center-menu {

    display: flex;
    height: 20px;
    background-color: #FFFF;
}

.container_center-menu p {
    margin-right: 20px;
    background-color: #FFFF;

}


.container_right-header {
    background-color: #ffff;
    display: flex;
    height: 35px;
    width: 100%;
}

.container_right-search {
    background-color: #ffff;
}

.container_right-search input {

    border-radius: 10px;
    width: 280px;
    margin-right: 70px;
}

.container_right-notification, .container_right-profile {
    margin-right: 20px;
    
}

.container_right-dateCourses {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 130px;
    width: 100%;
    border-radius: 20px;
}

.container_right-left, .container_right-right {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.container_right-left h1, .container_right-right h1 {
    margin-right: 5px;
}

.container_right-statistics {

    height: 30px;
    width: 100%;
    margin-top: 20px;
    background-color: #ffff;

}

.container_right-statistics h3 {

    background-color: #ffff;

}

.container_right-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #ffff;
}

.container_right-panel li  {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #ffff;
}

.container_right-panel input {
    width: 80px;
}

.container_right-table {

    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
    background-color: #ffff;
}

.container_right-table img {

    object-fit: contain;
    margin-top: 40px;
    background-color: #ffff;

}

.container_right-premium {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 150px;
    border-radius: 20px;
    padding: 20px;
    
}

.container_right-text {

    height: 60px;
    border-radius: 20px;

}

.container_right-text h3 {
    margin-bottom: 5px;
}



